%ul.pager
  %li.pull-right
    = link_to(new_company_path) do
      = fa_icon('plus-circle')
      = _('New').html_safe

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.text-center= _('Name')
      %th.text-center= _('Operator Type')
      %th.text-center= _('Address')
      %th.text-center= _('Phone')
      %th

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.operator_types
        %td= company.address
        %td= company.phones
        %td.text-center
          = link_to company_path(company.slug) do
            = fa_icon('folder-open')
            = _('Show')

%ul.pager
  %li.pull-right= will_paginate @companies, renderer: BootstrapPagination::Rails
